# Editors
*.swp
.*.swp
*~

# Repo
SECURITY.md
CODE_OF_CONDUCT.md
.gitignore
.git
.github

# NPM/Yarn stuff
node_modules/
.npmrc
jsdoc.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker is only for dev
Dockerfile
docker-compose.yml
start-ssh.sh

# Development, test and build assets
coverage
doc
webpack.config.js
src/index.test.js
src/TextEncoder-polyfill.js
dist/index.test.js
dist/TextEncoder-polyfill.js
