# Editors
.*.sw*
*~

# Repo
SECURITY.md
CODE_OF_CONDUCT.md
.gitignore
.git
.github

# NPM/Yarn stuff
node_modules/
.npmrc
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker is only for dev
Dockerfile
docker-compose.yml
start-ssh.sh

# Development, test and build assets
coverage
doc
babelrc.test.js
jsdoc.json
src/index.test.js
src/TextEncoder-polyfill.js
dist/index.test.js
dist/TextEncoder-polyfill.js
.eslint*
